Repository Only-OGs/Java-Client, pull requests merged in 2023-12, with the labels that each got.

#42 Bassierend auf Iss40
  core/src/Connection/Client.java
  core/src/Road/RoadPart.java
  core/src/Screens/GameScreen.java
  core/src/Screens/LobbyScreen.java
  core/src/Screens/MenuScreen.java
  core/src/Screens/ReadyScreen.java
Labels: Client, Game

#44 Merging Iss27
  core/src/MathHelpers/Util.java
  core/src/Screens/GameScreen.java
Labels: Game

#49 [Die Lobby] Server Timer + Ready Button
  core/src/Connection/Client.java
  core/src/Screens/LoadingScreen.java
  core/src/Screens/LobbyScreen.java
  core/src/Screens/MenuArea/SettingMenu.java
  core/src/Screens/MenuScreen.java
Labels: Client, Game

#52 Datenübertragung der Player Cars
  assets/sprites/Purple_Skyscraper.png
  assets/sprites/Skyscraper_PNG.png
  assets/sprites/billboard01.png
  assets/sprites/billboard02.png
  assets/sprites/billboard03.png
  assets/sprites/billboard04.png
  assets/sprites/billboard05.png
  assets/sprites/billboard06.png
  assets/sprites/billboard07.png
  assets/sprites/billboard08.png
  assets/sprites/billboard09.png
  assets/sprites/boulder1.png
  assets/sprites/boulder2.png
  assets/sprites/boulder3.png
  assets/sprites/bush1.png
  assets/sprites/bush2.png
  assets/sprites/cactus.png
  assets/sprites/car01.png
  assets/sprites/car02.png
  assets/sprites/car03.png
  assets/sprites/car04.png
  assets/sprites/column.png
  assets/sprites/dead_tree1.png
  assets/sprites/dead_tree2.png
  assets/sprites/palm_tree.png
  assets/sprites/player_left.png
  assets/sprites/player_right.png
  assets/sprites/player_straight.png
  assets/sprites/player_uphill_left.png
  assets/sprites/player_uphill_right.png
  assets/sprites/player_uphill_straight.png
  assets/sprites/semi.png
  assets/sprites/stump.png
  assets/sprites/tree1.png
  assets/sprites/tree2.png
  assets/sprites/truck.png
  core/src/Connection/Client.java
  core/src/Connection/DataStream.java
  core/src/OGRacerGame/OGRacerGame.java
  core/src/Road/Car.java
  core/src/Road/CustomSprite.java
  core/src/Screens/GameScreen.java
  core/src/Screens/LoadingScreen.java
  core/src/Screens/LobbyScreen.java
  core/src/Screens/MenuArea/LobbyMenu.java
Labels: Client, Game

#57 Bassierend auf Iss56 Leaderboard + Game Start Timer Multi/Single + Multiplayer AI Cars + kleine weitere Änderungen
  core/src/Connection/Client.java
  core/src/OGRacerGame/OGRacerGame.java
  core/src/Rendering/CarRenderer.java
  core/src/Screens/GameScreen.java
  core/src/Screens/Leaderboard.java
  core/src/Screens/LoadingScreen.java
  core/src/Screens/LobbyScreen.java
  core/src/Screens/MenuArea/LoginMenu.java
  core/src/Screens/MenuArea/MultiplayerMenu.java
  core/src/Screens/MenuArea/RegisterMenu.java
  core/src/Screens/MenuArea/SettingMenu.java
  desktop/src/de/ogracer/game/DesktopLauncher.java
Labels: Client, Game, Fix
